#canvasDiv {
  display: flex;
  justify-content: center;
}

#toolboxDiv {
  display: flex;
  justify-content: center;
}

.toolbox {
  display: flex;
  justify-content: space-around;
  width: 850px;
}

.colors, .size, .tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  padding-left: 25px;
  padding-right: 25px;
}

.colors a, .size a, .tools a {
  padding: 5px;
}

.selected {
  background-color: lightgrey;
}
