#imageLoader {
    display: none;
}

#canvasDiv {
  display: flex;
  justify-content: center;
}

.toolboxDiv {
  display: flex;
  justify-content: center;
}

.toolbox {
  display: flex;
  justify-content: space-around;
  width: 870px;
}

.colors, .size, .tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.colors a, .size a, .tools a, .tools label {
  padding: 5px;
}

.size a, .size a:visited, .tools a, .tools a:visited {
  color: black;
}

#chooseRed {
  color: red;
}
#chooseOrange {
  color: orange;
}
#chooseYellow {
  color: yellow;
}
#chooseGreen {
  color: green;
}
#chooseBlue {
  color: blue;
}
#choosePurple {
  color: purple;
}
#chooseOtherColor {
  color: black;
}

.selected {
  background-color: lightgrey;
}

.hide {
  visibility: hidden;
}

footer {
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}
