canvas {
  position: absolute;
}

.toolbox {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.colors, .size, .tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

.colors a, .size a, .tools a {
  padding: 5px;
}

.selected {
  background-color: lightgrey;
}
